@CHARSET "ISO-8859-1";

.overviewtbl {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

.overviewtbl td {
	font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 5px 5px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
}

.overviewtbl th {
	font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 5px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
}

.div{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  color: inherit;
  background-color: #f5f6f7;
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.w2ui-layout > div .w2ui-panel .w2ui-panel-content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  color: inherit;
  background-color: #ffffff;
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color:#222D32;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover {
  background-image: -webkit-linear-gradient(#A0A5AA, #ffffff);
  background-image: -moz-linear-gradient(#A0A5AA, #ffffff);
  background-image: -ms-linear-gradient(#A0A5AA, #ffffff);
  background-image: -o-linear-gradient(#A0A5AA, #ffffff);
  background-image: linear-gradient(#A0A5AA, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff69b1e0', endColorstr='#ff4a96d3', GradientType=0);
  border-top: 0px solid #004080;
  border-bottom: 0px solid #004080;
  border-radius:1px;
  color:#000000;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-caption,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-caption,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image > span,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image > span,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected td.w2ui-node-dots,
.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover td.w2ui-node-dots {
  color: #000000!important;
  text-shadow: 1px 1px 2px #666666 !important;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  background-color: #ffffff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin: 0px;
  padding: 1px 0px;
  color:#222D32;
}

.w2ui-layout > div .w2ui-panel .w2ui-panel-title {
  padding: 5px;
  background-image: -webkit-linear-gradient(#3C8DBC, #222D32);
  background-image: -moz-linear-gradient(#3C8DBC, #222D32);
  background-image: -ms-linear-gradient(#3C8DBC, #222D32);
  background-image: -o-linear-gradient(#3C8DBC, #222D32);
  background-image: linear-gradient(#3C8DBC, #222D32);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdae6f3', endColorstr='#ffE0E6EF', GradientType=0);
  border: 0px solid #b9cee9;
  border-bottom: 0px solid #99bbe8;
  border-radius: 0px;
  color:#ffffff
  
}

.w2ui-form .w2ui-form-header {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #99bbe8 !important;
  overflow: hidden;
  color: #444444;
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: left;
  padding: 8px;
  background-image: -webkit-linear-gradient(#dae6f3, #c2d5ed);
  background-image: -moz-linear-gradient(#dae6f3, #c2d5ed);
  background-image: -ms-linear-gradient(#dae6f3, #c2d5ed);
  background-image: -o-linear-gradient(#dae6f3, #c2d5ed);
  background-image: linear-gradient(#dae6f3, #c2d5ed);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdae6f3', endColorstr='#ffc2d5ed', GradientType=0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}